#home-page {
    .intro-text {
        font-size: 15px;
        line-height: 20px;
    }

    .search-box {
        margin: 10px 0 20px;
        .control-label {
            text-align: left;
            width: auto;
        }
    }
}
