body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #FFF;
    min-width: 320px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 1.4285em;
    color: #33373D;
    font-smoothing: antialiased;
}

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.input-group, .form-control {
    &:focus {
        outline: none;
    }
}

#header {
    background: #fff;
    border-radius: 0;
    margin-bottom: 20px;
    border-bottom: 0;
    .container {
        border-bottom: 2px #CCC solid;
    }
    .navbar-brand {
        padding: 0;
        padding-left: 15px;
        height: 100px;
        .app-icon-logo {
            height : 50px;
            display: inline-block;
            margin-top: -38px;
            margin-right: 20px;
        }
        .app-text-logo {
            font-size: 72px;
            line-height: 80px;
            display: inline-block;
            margin: 10px 0;
        }
    }
    .navbar-right {
        .btn {
            margin-top: 8px;
        }
    }
    @media (max-width: $screen-xs-max) {
        .navbar-brand {
            height: 65px;
            .app-icon-logo {
                margin-top : 0;
            }
            .app-text-logo {
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
}

#footer {
    background: #282C35;
    border-top: 1px solid #eee;
    padding: 20px 0;
    color: #FFF;
}

.loading-bar {
    position: fixed;
    z-index : 1100;
    top: 64px;
    border: 1px #f0c36d solid;
    background: #f9edbe;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #000;
    padding: 0px 20px;
    left: 50%;
    margin-left: -100px;
}
