@mixin responsive-invisibility($parent) {
    #{$parent} {
        display: none !important;
    }
}

@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

/* Generic Padding Helpers
------------------------------------
*/

@mixin generate-paddings-options($n, $j:0){
  @if $j <= $n {
    @for $i from $j through $n {
      $step : $i*5;

      .p-t-#{$step} {
        padding-top: ($step*1px) !important;
      }
      .p-r-#{$step} {
        padding-right: ($step*1px) !important;
      }
       .p-l-#{$step} {
        padding-left: ($step*1px) !important;
      }
       .p-b-#{$step} {
        padding-bottom: ($step*1px) !important;
      }
      .padding-#{$step} {
        padding: ($step*1px) !important;
      }
    }
  }
}

@include generate-paddings-options(20);

/* Generic Margin Helpers
------------------------------------
 */
@mixin generate-margin-options($n, $j: 0) {
  @if $j <= $n {
    @for $i from $j through $n {
      $step : $i*5;
      .m-t-#{$step} {
        margin-top: ($step*1px);
      }
      .m-r-#{$step} {
        margin-right: ($step*1px);
      }
       .m-l-#{$step} {
        margin-left: ($step*1px);
      }
       .m-b-#{$step} {
        margin-bottom: ($step*1px);
      }
    }
  }
}

@include generate-margin-options(20);

.full-height{
    height: 100% !important;
}
.full-width{
    width: 100%;
}
.hide {
    display: none;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.no-visibility {
    visibility: hidden;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fs-15 {
    font-size: 15px;
}
.m-w-100 {
    min-width: 100px;
}
.m-w-50 {
    min-width: 50px;
}
